body  {

	background-color: #DCDCDC;
	padding: 0px;
	margin: 0px;
	border-bottom: 2px; 
	border-top: 5px;
	padding: 5px;
}


#box img#wrkimg {
	display: block;
	float: left;
	width: 215px;
	height: 300px;
	margin-left: 20px;
	margin-top: 25px;
	margin-right: 0px;
}

#box2 img#wrkimg {
      display: block;
      float: left;	
      width: 215px;
      height: 300px;
}

#box3 img#wrkimg {
	display: block;
	float: left;
	width: 215px;	
	height: 300px;
}

#box4 img#wrkimg {
	display: block;
	float: left;
	width: 215px;
	height: 300px;
}

#box5 img#wrkimg {
	display: block;
	float: left;
	width: 215px;
	height: 300px;
}

#box6 img#wrkimg {
	display: block;
	float: left;
	width: 375px;
	height: 260px;
}

#box7 img#wrkimg {
	display: block;
	float: left; 
	width: 375px;
	height: 260px;
}

#box8 img#wrkimg {
	display: block;
	float: left;
	width: 375px;
	height: 260px;
}
nav {
	color: #000000;
	text-align: center;
}
.clearit {
  clear: all;
}

